@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

@font-face {
  font-family: 'sofia_proregular';
  src: url('./font/sofia_pro_regular-webfont.woff2') format('woff2'),
       url('./font/sofia_pro_regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

a {
  color: inherit;
  text-decoration: none;
}



/*Standard Abstände reset und Font setzten*/
*{
  font-family: 'sofia_proregular';
  margin: 0;
  padding: 0;
}

body {
  max-width: 1500px;
  margin: 0 auto;
}

header {
  width: 100%;
  content: "";
  clear: both;
  display: table;
}


main{
  padding: 20px 13% 0 13%;
}


/************************************/
/********Schriften*formatieren*******/
/************************************/
h1 {
  color: #000;
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 40px 0 20px 0;
}

h2{
  color: #000;
  text-align: center;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;   
}

h3{
  font-family: 'sofia_probold';
  color: #000;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;    
}

h4{
  font-family: 'sofia_probold';
  color: #000;
  text-align: left;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;    
}

.signetbild {
margin-top: 20px;
margin-left: 20px;
float: left;
}

/************************************/
/*************Navigation*************/
/************************************/

.navigation__checkbox {
  display: none;
}

.navigation__button {
  position: fixed;
  top: 1.5rem;
  right: 1.5rem;
  height: 5rem;
  width: 5rem;
  text-align: center;
  background-color: #fff;
  border-radius: 50%;
  z-index: 300;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
}


.navigation__background {
  position: fixed;
  top: 2.5rem;
  right: 2.5rem;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background: #D4D577;
  background-size: cover;
  background-position: center;
  z-index: 100;
  transition: all 800ms cubic-bezier(0.86, 0, 0.07, 1);
}

.navigation__nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  opacity: 0;
  width: 0;
  visibility: hidden;
  z-index: 200;
  transition: all 800ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.navigation__list {
  /*@include center;*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  list-style: none;
}

.navigation__item {
  margin: 1rem;
}

.navigation__link:link,
.navigation__link:visited {
  display: inline-block;
  padding: 1rem 2rem;
  text-transform: uppercase;
  color: #fff;
  font-size: 30px;
  text-decoration: none;
  transition: all .2s;
}

.navigation__link span {
  margin-right: 1.5rem;
  display: inline-block;
}

.navigation__link:hover {
  color: #556736;
  transform: scale(1.1);
}

.navigation__checkbox:checked~.navigation__background {
  transform: scale(200)
}

.navigation__checkbox:checked~.navigation__nav {
  width: 100%;
  visibility: visible;
  opacity: 1;
}

.navigation__icon {

  position: relative;
  margin-top: 2.5rem;
}

.navigation__icon,
.navigation__icon::before,
.navigation__icon::after {
  display: inline-block;
  width: 2.2rem;
  height: 2px;
  background-color: black;
}


.navigation__icon::before,
.navigation__icon::after {
  content: '';
  position: absolute;
  left: 0;
  transition: all 200ms;
}

.navigation__icon::before {
  top: -.8rem;
}

.navigation__icon::after {
  top: .8rem;
}

.navigation__button:hover .navigation__icon::before {
  top: -1rem;
}

.navigation__button:hover .navigation__icon::after {
  top: 1rem;
}

.navigation__checkbox:checked+.navigation__button .navigation__icon {
  background-color: transparent;
}

.navigation__checkbox:checked+.navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg);
}

.navigation__checkbox:checked+.navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg);
}

/************************************/
/************ Profile Page***********/
/************************************/

#profile {
  padding-top: 300px;
}

/************************************/
/************ Rezepte Page***********/
/************************************/

.recipe-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content : flex-start;
}

.recipe-card {
  display: flex;
  cursor: pointer;
  flex-wrap: wrap;
  min-height: 150px;
  min-width: 260px;
  transition: 0.3s;
  border-radius: 7px;
  background: rgba(217, 217, 217, 0.30);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin: 1%;
}

/* On mouse-over, add a deeper shadow */
.recipe-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.recipe-card img {
  width: 40%;
  object-fit: cover;
  border-radius: 7px;
}

.recipe-container {
  width: 60%;
  padding: 5%;
  position: relative;
}

.recipe-container img{
  position: absolute;
  top: 10px;
  right: 10px;
  width: 35px;
  height: 35px;
}

.recipe-container h2{
  font-family: 'sofia_probold';
  font-size: 18px;
  text-align: left;
}

.recipe-container p{
  font-family: 'sofia_proregular';
  font-size: 18px;
  text-align: left;
}

/*Filter Style*/

#filterGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content : center;
  margin: 0 auto;
  padding: 30px 0;
  width: 810px;
}

.filterstyle{
  width: 200px;
  height: 56px;
  margin: 0 10px;
  padding: 13px 0 13px 13px;
  border-radius: 7px;
  background: rgba(217, 217, 217, 0.30);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.filterstyle input{
  width: 30px;
  height: 30px;
  margin: 0;
  float: left;
}

.filterstyle label{
  height: 30px;
  line-height: 30px;
  font-size: 20px;
}

#diet-dropdown {
  padding-left: 10px;
  height: 56px;
  margin: 0 10px;
  line-height: 30px;
  font-size: 20px;
  border-radius: 7px;
  background: rgba(217, 217, 217, 0.30);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#filterButton{
  width: 25%;
  max-width: 200px;
  height: 56px;
  margin: 0 10px;
  border-radius: 7px; 
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #FFF;
  font-size: 25px;
  border: 0px;
  background: var(--Primary-Green, #D4D577);
}

/************************************/
/******** Rezepte*Detail*Page********/
/************************************/

.recipe-detail div .recipe-container {
  width: 100%;
}

.recipe-container h1 {
text-align: left;
}

.recipeimage {
  height: 400px;
  object-fit: cover;
}

#likeButton{
  float: right;
  margin: 25px 10px 25px 0;
  height: 36px;
  width: 36px;
  cursor: pointer;
}

/************************************/
/************Login*Page**************/
/************************************/

#logobild {
  display: flex;   
  justify-content: center;   
  align-items: center;
  margin: 30px 0 40px 0;
}

#slogan {
  width: 60%;
  margin: 15px 20% 15px 20%;
}

main {
  display: block;
}

main input {
  width: 80%;
  margin: 15px 10% 15px 10%;
  height: 56px;
  border-radius: 7px;
  background: rgba(217, 217, 217, 0.30);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: 0px;
  padding: 0 3% 0 3%;
}

input[type="email"]
{
  font-size:18px;
}



#sendMagicLinkButton{
  width: 80%;
  margin: 15px 10% 15px 10%;
  height: 56px;
  border-radius: 7px; 
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #FFF;
  font-size: 15px;
  border: 0px;
background: var(--Secondary-Green, #556736);
}

#sendMagicLinkButton:hover{
  background: var(--Secondary-Green, #44522b    );
  }



#logoutButton{
  margin: 20px 10% 20px 10%;
  width: 200px;
  height: 56px;
  border-radius: 7px; 
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #FFF;
  font-size: 15px;
  border: 0px;
  background: var(--Primary-Green, #D4D577);
}

#filterButton:hover{
  background: var(--Primary-Green, #a9aa5f);
}

#logo {
  cursor: pointer;
  height: 80%;
  width: 80%;
  margin: 10px 20px;
}

.logoutIcon {
  cursor: pointer;
  position: inherit;
  margin: 35px;
}

#resetFilterButton {
  text-decoration: underline;
}

#logoutButton:hover{
  background: var(--Primary-Green, #a9aa5f);
}

#RecipeDetailPage {
  position: relative;
}

#backButton{
  cursor: pointer;
  width: 50px;
  position: absolute;
  top: 80px;
  left: 5%;
}

.likeButtonActive{
  width: 80%;
  margin: 15px 10% 15px 10%;
  height: 56px;
  border-radius: 7px; 
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #FFF;
  font-size: 15px;
  border: 0px;
background: var(--Primary-Green, red);
}

.likeButtonActive:hover{
  background: var(--Primary-Green, darkgrey);
}

.likeButtonPassive {
  width: 80%;
  margin: 15px 10% 15px 10%;
  height: 56px;
  border-radius: 7px; 
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #FFF;
  font-size: 15px;
  border: 0px;
  background: var(--Primary-Green, grey);
}

.likeButtonPassive:hover{
  background: var(--Primary-Green, darkgrey);
}

.login-with-google-btn {
  transition: background-color .3s, box-shadow .3s;
  margin: 15px 10% 15px 10%;
  padding: 12px 16px 12px 42px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
  background-color: white;
  background-repeat: no-repeat;
  background-position: 12px 11px;
  
  &:hover {
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .25);
  }
  
  &:active {
    background-color: #eeeeee;
  }
  
  &:focus {
    outline: none;
    box-shadow: 
      0 -1px 0 rgba(0, 0, 0, .04),
      0 2px 4px rgba(0, 0, 0, .25),
      0 0 0 3px #c8dafc;
  }
  
  &:disabled {
    filter: grayscale(100%);
    background-color: #ebebeb;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
    cursor: not-allowed;
  }
}


#recipe_overview{
  display: none;
}

.slider {
  width: 500px;
  height: 60px;
  padding: 30px;
  padding-left: 40px;
  background: #fcfcfc;
  border-radius: 20px;
  display: flex;
  align-items: center;
  box-shadow: 0px 15px 40px #7E6D5766;
}
  
.slider p {
  font-size: 26px;
  font-weight: 600;
  font-family: Open Sans;
  padding-left: 30px;
  color: black;
}
  
.slider input[type="range"] {
  -webkit-appearance:none !important;
  width: 420px;
  height: 2px;
  background: black;
  border: none;
  outline: none;
}
  
.slider input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  width: 30px;
  height:30px;
  background: black;
  border: 2px solid black;
  border-radius: 50%;
  cursor: pointer;
}
  
.slider input[type="range"]::-webkit-slider-thumb:hover {
  background: black;
} 


* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
.cd__main{
background: #56CCF2 !important;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2F80ED, #56CCF2) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
min-height: 450px;
}
html,
body {
height: 100%;
text-align: center;
place-items: center;
}

.range {
height: 80px;
width: 380px;
background: #fff;
border-radius: 10px;
padding: 0 65px 0 45px;
box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
}
.range .sliderValue {
position: relative;
width: 100%;
}
.range .sliderValue span {
position: absolute;
height: 45px;
width: 45px;
transform: translateX(-70%) scale(0);
font-weight: 500;
top: -40px;
line-height: 55px;
z-index: 2;
color: #fff;
transform-origin: bottom;
transition: transform 0.3s ease-in-out;
}
.range .sliderValue span.show {
transform: translateX(-70%) scale(1);
}
.range .sliderValue span.show:after {
position: absolute;
content: "";
height: 100%;
width: 100%;
background: dodgerblue;
border: 3px solid #fff;
z-index: -1;
left: 50%;
transform: translateX(-50%) rotate(45deg);
border-bottom-left-radius: 50%;
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
border-top-left-radius: 50%;
border-top-right-radius: 50%;
}
.range .field {
display: flex;
align-items: center;
justify-content: center;
height: 100%;
position: relative;
}
.range .field .value {
position: absolute;
font-size: 18px;
color: dodgerblue;
font-weight: 600;
}
.range .field .value.left {
left: -22px;
}
.range .field .value.right {
right: -43px;
}
.range input {
-webkit-appearance: none;
width: 100%;
height: 3px;
background: #ddd;
border-radius: 5px;
outline: none;
border: none;
z-index: 2222;
}
.range input::-webkit-slider-thumb {
-webkit-appearance: none;
width: 20px;
height: 20px;
background: red;
border-radius: 50%;
background: dodgerblue;
border: 1px solid dodgerblue;
cursor: pointer;
}
.range input::-moz-range-thumb {
-webkit-appearance: none;
width: 20px;
height: 20px;
background: red;
border-radius: 50%;
background: dodgerblue;
border: 1px solid dodgerblue;
cursor: pointer;
}
.range input::-moz-range-progress {
background: dodgerblue;
}
 
@font-face {
  font-family: 'sofia_probold';
  src: url('./font/sofia_pro_bold-webfont.woff2') format('woff2'),
       url('./font/sofia_pro_bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}



/* ALERT */ 

.alert {
  position: relative;
  top: 10;
  left: 0;
  width: auto;
  height: auto;
  padding: 10px;
  margin: 10px;
  line-height: 1.8;
  border-radius: 5px;
  cursor: hand;
  cursor: pointer;
  font-family: sans-serif;
  font-weight: 400;
}

.alertCheckbox {
  display: none;
}

:checked + .alert {
  display: none;
}

.alertText {
  display: table;
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
}

.alertClose {
  float: right;
  padding-top: 5px;
  font-size: 10px;
}

.clear {
  clear: both;
}

.info {
  background-color: #EEE;
  border: 1px solid #DDD;
  color: #999;
}

.success {
  background-color: #EFE;
  border: 1px solid #DED;
  color: #9A9;
}

.notice {
  background-color: #EFF;
  border: 1px solid #DEE;
  color: #9AA;
}

.warning {
  background-color: #FDF7DF;
  border: 1px solid #FEEC6F;
  color: #C9971C;
}

.error {
  background-color: #FEE;
  border: 1px solid #EDD;
  color: #A66;
}


/* SLIDER */
/* Price Range */
input[type="range"]::-webkit-slider-thumb {
  pointer-events: auto;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  -webkit-appearance: none;
  @apply bg-green-500;
}

/******************/
/****Responsive****/
/******************/

@media only screen and (max-width: 4000px) {
  main{
    padding: 0 5%;
  }
  .recipe-grid{
    max-width: 1500px;
  }
  .recipe-card {
   width: 31.33%;
  }
  #profile {
    padding-top: 150px;
  }
}

@media only screen and (max-width: 1400px) {
  main{
    padding: 0 5%;
  }
  .recipe-card {
   width: 48%;
  }

  .recipeimage {
    height: 400px;
  }
  #profile {
    padding-top: 150px;
  }
}

@media only screen and (max-width: 900px) {

   /*Rezeptfilter formatieren*/

   #filterGrid {
    width: 100%;
  }
  .filterstyle {
    width: 25%;
    height: 40px;
    text-align: start;
    padding: 6px 10px 6px 10px;
    margin: 0 1%;
  }
  .filterstyle label{
    height: 14px;
    line-height: 0.1;
    font-size: 15px;
    
  }
  .filterstyle input{
    width: 27px;
    height: 27px;
    margin-right: 10px;
  }
  #diet-dropdown{
    width: 25%;
    margin: 0;
    height: 40px;
    font-size: 15px;
    margin: 0 1%;
  }
  #filterButton {
    width: 100%;
    max-width: 400px;
    margin: 20px auto 30px auto;
  }

}

@media only screen and (max-width: 800px) {
  main{
    padding: 0 2%;
  }
  .recipe-card {
   width: 100%;
   margin: 1% 0;
  }
  .recipeimage {
    height: 250px;
  }
  #profile {
    padding-top: 150px;
  }

}

@media only screen and (max-width: 700px) {
 
   /*Rezeptfilter formatieren*/
   #filterGrid {
    display: block;
    width: 100%;
    padding: 0 20%;
  }
  .filterstyle {
    margin: 0 auto;
    width: 150px;
  }

  #diet-dropdown{
    width: 150px;
  }
  #filterButton {
    width: 100%;
    max-width: 400px;
    margin: 20px auto 30px auto;
  }
}